@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e5e5e5;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --border: #454545;
}

body {
  color: var(--foreground);
  background: var(--background);
  border-color: var(--border);
  font-family: Arial, Helvetica, sans-serif;
}

.animation-slide {
  animation: slide 30s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@layer base {
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
